body {
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.container {
    padding-top: 30px;
    padding-right: 30px;
    //padding-bottom: 35px;
    padding-left: 30px;

    @include breakpoint-down(tablet) {
        padding-top: 26px;
        padding-right: 25px;
        //padding-bottom: 35px;
        padding-left: 24px;
    }
}

h1 {
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'fraunces', serif;
    font-size: 32px;
    line-height: 1;
    text-decoration: none;
}

.btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    width: 240px;
    border-radius: 10px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: hsl(158, 36%, 37%);
    transition: background-color 150ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: hsl(212, 21%, 14%);
    }

    @include breakpoint-down(tablet) {
        width: 264px;
    }
}